body{
    background-color: #252525;
    color:whitesmoke;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

/* ----------- < main app wrapper > ------------  */
.my_app{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50% );
    min-width: 500px;
}
/* ----------- < /main app wrapper > ------------  */

/* ----------- < tag's with same style > ------------  */
/* position's for the child inside the parent-wrapper */
header,main,footer{ 
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
/* stroke & font style for the text inside the header tag
     and for the button inside the footer tag  */
header,footer > button{
    font-family: Bungee;
    -webkit-text-stroke: 1px black;
}
/* ----------- < /tag's with same style > ------------  */

/* ----------- < main > ------------  */
input{
    margin: 20px 10px;
    font-size: 30px;
    width: 20px;
    padding: 5px;
    border: 1px solid salmon;
    border-radius: 5px;
}
/* ----------- < /main > ------------  */

/* ----------- < footer > ------------  */
/* Inside footer tag, style for the button and the textarea*/
footer{
    display: flex;
    flex-direction: column;
}

footer > button {
    background-color: salmon;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

textarea{
    background-color: #502626;
    color: white;
    padding: .5rem;
    resize: none;
}
/* ----------- < /footer > ------------  */


