body{/* background fargen */
    background-image: linear-gradient(
    110deg,
    hsl(0deg 0% 100%) 0%,
    hsl(344deg 0% 90%) 19%,
    hsl(344deg 0% 80%) 27%,
    hsl(344deg 0% 70%) 34%,
    hsl(344deg 0% 60%) 41%,
    hsl(344deg 0% 51%) 47%,
    hsl(344deg 0% 42%) 53%,
    hsl(344deg 0% 34%) 59%,
    hsl(344deg 0% 25%) 66%,
    hsl(344deg 0% 17%) 73%,
    hsl(343deg 0% 10%) 81%,
    hsl(0deg 0% 0%) 100%
  );

    margin: 0;
    background-size: 100% 200%;
    background-repeat: repeat-y;
}


.designBox{/* designBox = movebox for the toDoList*/
    position: relative;
    border: 2px solid black;
    background-color: #34D399;

    border-radius: 10px 200px 55px 0;

    width: 400px;
    height: 450px;
    left: 50%;
    /* transform: translate ( går ut fra sine egne mål..) (fra høyre , fra top ) */
    transform: translate(-50%,5%);
}

#input-el{ /* Input Fielden sin ID */
    text-align: center;

    border: 2px solid #34D399;
    outline: 2px solid black;
    border-radius: 20px 0 20px 0;
}

.purpleBox{/* boksen med alt av textcontent oppi */
    position: absolute;
    background-color: #5B21B6;

    top: -2px;
    left: 50%;
    width: 300px;
    height: 100%;

    border: 2px solid black;
    border-radius: 0 65px 0 120px;

    transform: translate(-50%,0); /* moveFromRight moveFromUp */
}

.moveLabel{/* moveLabel kan også ses på som en "header-section inni purpleBox*/
    position: absolute;
    display: inline-flex;
    left: 50%;
    top: 2%;

    transform: translate(-50%, 0);
}
#btn-el{/* Enter Knappen sin ID */
    background-color: #34D399;
    border: 2px solid black;

    margin-left: 3%;
    padding: 6px;
    border-radius: 5px;
}

ul{ /* Unordret list */
    position: absolute;

    background-color: #fcd34d;
    color: black;
    border: 2px solid #000;
    border-radius: 10px 10px 0 0;

    width: 273px;
    font-size: 12px;
    left: 50%;
    top: 8%;
    padding: 2px;
    
    transform: translate(-50%,0);
}

li{/*Inni li er det en <p> og en <button>, he flex for å få space-between */
    display: flex;
    justify-content: space-between;

    width: 270px;
    height: 20px;
    margin-bottom: 1%;
}

#remove-btn{/* Remove all <li> element's on the page! */
    position: absolute;

    border: 3px solid white;
    border-radius: 10px 0 5px 100px;
    background-color: #34D399;
    color: white;
    font-size: 20px;

    left: 87%;
    top: 4%;
    padding: 2%;

    filter: blur(0.3px);
    transform: rotate(45deg);
}

#remove-btn:hover{ /* Hover effect når musa er opp remove-btn area */
    transform: scale(2.1);
    background-color: rgb(245, 129, 70);
    color: black;
    border: 3px solid black;
    box-shadow: 10px 10px 10px white;
}